<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">
	<title>Race!</title>
	<link rel="stylesheet" type= "text/css" href="sytlesheets/game.css"/>
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	
	 <script src="http://localhost:80/socket.io/socket.io.js"></script> 
	
	<script type="text/javascript" src="javascripts/script.js"></script>
	
	
</head>

<body>
	<h1>Welcome to <%= title %>!</h1>
	<canvas id="game" width="400" height="400"> 
		Canvas not supported in your browser.
	</canvas>
</body>

</html>